body {
    font-family: Arial;
     text-align: center;
    direction: rtl;
    background: #0b1220;
    margin: 0;
}

/* العنوان */
h1 {
    margin: 50px;
    color: #e2e8f0;
    font-family: 'Courier New', Courier, monospace;
    
}

/* الدورات */
.courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px;
    /* color:#0f172a */
}

.cours {
    background: #111a2e;
    width: 600px;
    padding: 1px;
    border-radius: 0px;
    box-shadow: 0 10px 25px rgb(0,0,0,0.0.4);
}
/* البطاقة */
.course {
    
    width: 300px;
    padding: 60px;
    border-radius: 20px;
    box-shadow: 0 0 10px #ccc;
}
/* الصورة */
.course img {
    width: 100%;
    border-radius: 10px;
}

.course h2 {
    color: #f1f5f9;
}

.course p{
    color: #cbd5e1;
}
/* زر التفاصيل */
.course a {
    display: block;
    background: #4e51f3;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
}
/* المرور على الزر بالماوس */
.course a:hover {
    background: #171196;
}

/* صفحة التفاصيل */
.details {
    background: #16213e;
    width: 60%;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
}

/* Responsive */
@media (max-width: 768px) {
    .courses {
        flex-direction: column;
        align-items: center;
    }

    .details {
        width: 90%;
    }
}